.propos
    min-height: 100vh
    display: flex
    align-items: center
    > div
        display: flex
        flex-direction: column
        gap: 50px
        width: 600px
        max-width: 90vw
        margin: auto

        h1
            line-height: 1em
        img
            width: 200px
            height: 200px
            border-radius: 200px
            object-fit: cover
            margin: auto
        p
            font-family: arial
            color: #5f6368
            line-height: 1.5em
            font-size: 20px
            a
                color: #1a73e8
